<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
<head>
  <title rsf:id="basic-page-title">Reset Password</title>
  <link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection" />
  <link rsf:id="scr=portal-matter" href="/library/skin/vula/tool.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection" />
  <link rsf:id="scr=portal-matter" href="/library/skin/vula/print.css" type="text/css" rel="stylesheet" media="print" />

  <script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js" ></script>
</head>

<body rsf:id="scr=sakai-body">
  <div class="portletBody">
    <h2 rsf:id="msg=mainTitle">Reset Password</h2>
    <hr/>

    <p><span class="fa fa-check fa-2x" style="color:rgba(82, 165, 54, 1);padding-right:10px;"></span><span rsf:id="message">Default confirmation text.</span></p>
    <br/>
    <p>For any further assistance, please contact <a href="mailto:help@vula.uct.ac.za">help@vula.uct.ac.za</a>.</p>
  </div>
</body>
</html>
