<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
<head>
  <title rsf:id="basic-page-title">Reset Password</title>
  <link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection" />
  <link rsf:id="scr=portal-matter" href="/library/skin/vula/tool.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection" />
  <link rsf:id="scr=portal-matter" href="/library/skin/vula/print.css" type="text/css" rel="stylesheet" media="print" />

  <script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js" ></script> 
</head>

<body rsf:id="scr=sakai-body">
  <div class="portletBody">
    <h2 rsf:id="msg=mainTitle">Reset Password</h2>
    <hr/>

    <p>Do you login to Vula with: </p>
    
    <div class="row">
      <div class="col-sm-6">
        <h5>a Student, Staff or T number (UCT Login)?</h5>

        <p>Please use <a href="http://password.uct.ac.za" target="_blank">Password Self Service</a> to change your password.</p>
        <p>If you are unable to do so, <a href="http://www.icts.uct.ac.za/managing_password#help" target="_blank">request help from ICTS</a> through one of the available support channels.</p>

      </div>
      <div class="col-sm-6 login-password-form">
        <h5>an email address (Guest Login)?</h5>
          <div rsf:id="error-row:">
            <div class="alertMessage" rsf:id="error">We have errors!</div>
          </div>
          <p>Enter the email address that you use to login:</p>
          <form rsf:id="form">
            <input type="text" rsf:id="input" />
            <input type="submit" value="Post" rsf:id="submit" style="top:-2px;"/>
          </form>
         
      </div>
    </div>
    <hr/>
    <p>For any further assistance, please contact <a href="mailto:help@vula.uct.ac.za">help@vula.uct.ac.za</a>.</p>
  </div>
</body>
</html>
